{% extends "doctor-base.html" %}

{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
{% endblock links %}
{% block 'title' %}
Doctor | Patients
{% endblock 'title' %}
{% block body %}
    {% block main_content %}
        <h1>Appointments</h1>
        <br>
        <div class="table table-hover">
            <table class="table table-hover table-striped appointments-table text-center">
                <thead class="table-header">
                    <tr>
                        <th class="text-center">Patient</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.patient.firstname }} {{ appointment.patient.lastname }}</td>
                            <td>{{ appointment.date|date:"d-m-Y | h:iA" }}</td>

                            {% if appointment.status == 'confirmed' %}
                                <td><span class="status confirmed">{{ appointment.status|title }}</span></td>
                            {% elif appointment.status == 'pending' %}
                                <td><span class="status pending">{{ appointment.status|title }}</span></td>
                            {% elif appointment.status == 'cancelled' %}
                                <td><span class="status cancelled">{{ appointment.status|title }}</span></td>
                            {% else %}
                                <td>{{ appointment.status|default:"-----" }}</td>
                            {% endif %}

                            <td>
                                {% if appointment.status == true %}
                                    <a href="{% url 'confirm_appointment' appointment.id %}" class="btn btn-sm btn-success">Confirm</a>
                                    <a href="{% url 'cancell_appointment' appointment.id %}" class="btn btn-sm btn-danger">Cancel</a>
                                {% else %}
                                    <a href="{% url 'undo_appointment' appointment.pk %}" class="btn btn-sm btn-info"><i class='bx bx-undo'></i></a>
                                    <a href="{% url 'delete_appointment' appointment.pk %}" class="btn btn-sm btn-danger"><i class='bx bx-trash'></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock main_content %}
{% endblock body %}