{% extends "doctor-base.html" %}

{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
{% endblock links %}
{% block 'title' %}
Doctor | Patients
{% endblock 'title' %}
{% block body %}
    {% block main_content %}
        <h1>Appointments</h1>
        <br>
        <div class="table-responsive mx-auto" style="max-width: 1200px;">
            <table class="table table-active table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Patient</th>
                        <th class="text-center">Date & Time</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments  %}
                        <tr>
                            <td class="text-center" >{{ appointment.patient.firstname  }} {{ appointment.patient.lastname  }}</td>
                            <td class="text-center">{{ appointment.date|date:"d-m-Y | h:iA" }}</td>

                   
                                {% if appointment.status == 'confirmed' %}
                                    <td class="text-center">
                                        <span class="btn btn-outline-success  disabled">{{ appointment.status }}</span>
                                    </td>                          
                                {% elif appointment.status == 'pending' %}
                                    <td class="text-center">
                                        <span class="btn btn-outline-warning  disabled">{{ appointment.status }}</span>
                                    </td>
                                {% elif appointment.status == 'cancelled'%}
                                    <td class="text-center">
                                        <span class="btn btn-outline-danger  disabled">{{ appointment.status }}</span>
                                    </td>
                                {% else %}
                                <td class="text-center"> {{ appointment.status|default:"-----" }} </td>
                                {% endif %}
                            <td class="text-center">
                                {% if appointment.previous_status %}
                                    <a href="{% url 'confirm_appointment' appointment.id %}"><button type="button" class="btn btn-success">Confirm</button></a>
                                    <a href="{% url 'reschedule_appointment' appointment.id %}"><button type="button" class="btn btn-warning">Reschedule</button></a>
                                    <a href="{% url 'cancell_appointment' appointment.id %}"><button type="button" class="btn btn-danger">Cancell</button></a>
                                {%else%}
                                    <a href="{% url 'undo_appointment' appointment.pk %}" class="btn btn-info btn-sm"><i class='bx  bx-undo'></i> </a>
                                    <a href="{% url 'delete_appointment' appointment.pk %}" class="btn btn-danger btn-sm"><i class='bx  bx-trash'></i> </a>
                                {%endif%}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock main_content %}
{% endblock body %}