*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#F2F2F2;
    color:#0D0D0D;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
}
.medi {
  color: #007AFF;
}
.famba {
  color: #34C759;
}

.sidebar{
    position: relative;
    height: 100vh;
    width: 78px;
    background-color:#BFBFBF;   
    padding: 6px 16px;
    transition: all 0.5s ease;
    color:#11101d;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: whitesmoke;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo img{
    font-size: 28px;
    height :60px;
    width :60px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);

}

.sidebar #btn:hover{
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none ;
    line-height: 50px;

}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    color:#0D0D0D;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display:none ;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}


.sidebar ul li a{
    color: #11101d;
    display: flex;
    align-items:center ;
    text-decoration: none; 
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #11101d;
    background-color: #fff;

}
.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events:auto;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #BFBFBF  ;
    border-radius: 5px;
}

.sidebar .profile_content .profile{
    position: relative ;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.5s ease;
}

.sidebar.active .profile_content .profile{
    background: #fff;
    border-radius:10px 60px 30px; 
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

/*
.profile .profile_details i {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
*/

.profile .profile_details .name_job{
    color:#11101d;
    margin-left: 10px;
     
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;

}

.profile #log_out{
    text-decoration: none;
    color: #11101d;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    min-height: 50px;
    min-width:80%;
    line-height: 30px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease;
    background: #fff;
    border-radius: 12px;
}

.sidebar.active .profile #log_out{
    left: 88%;

}

.sidebar.active .profile #log_out{
    background: none;
}



.home_content{
    position: absolute;
    height: 100%;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    top: 0;
}

.home_content .text{
    font-size: 25px;
    font-weight: 400;
    color: #11101d;
    margin: 12px;

}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}