:root{
    --color-default:#0b132b;
    --color-second:#242f4f;
    --color-white:#fff;
    --color-body:#e4e9f7;
    --color-light:#e0e0e0;
}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    min-height: 100vh;
}

.sidebar{
    min-height: 100vh;
    width: 90px;
    padding: 6px 14px;
    z-index: 99;
    background-color:var(--color-default);
    transition: all .5s ease;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo_details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo_details .icon{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name{
    color: var(--color-white);
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
    opacity: 1;
}


.sidebar .logo_details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition:all .5s ease;
}

.sidebar.open .logo_details #btn{
    text-align: right;

}

.sidebar i{
    color: var(--color-white);
    height: 60px;
    line-height: 60px;
    min-width: 30px;
    font-size: 23px;
    text-align: center;
}

.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}

.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar.open li .tooltip{
    display: none;
}



.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    background-color:var(--color-default);
    position: relative;
    transition: all .5s ease;
    z-index: 12;
}

.sidebar li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: var(--color-white);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
}


.sidebar li a:hover::after{
    transform: scaleX(1);
    color: var(--color-default);
}

.sidebar li a .links_name{
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}

.sidebar li a :hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: var(--color-white);
}

.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li i{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px;
}


.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 90px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    overflow: hidden;
    transition: all .5s ease;
    align-items: center;
    justify-content: flex-end;
    
}
.sidebar.open li.profile{
    width: 250px;
}
.sidebar .profile_details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 0;
    transition: all 0.5s ease;
    opacity: 0;
}

.sidebar.open .profile .profile_details{
    opacity: 1;
}


.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-white);
    white-space: nowrap;
}

.sidebar li.profile .job{
    font-size: 12px;
}


.sidebar li.profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-110%);
    width: 100%;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    cursor: pointer;
    background: var(--color-second);
    transition: all 0.5s ease;
}

.sidebar li.profile #log_out:hover{
    color: var(--color-default);
}

.sidebar.open .profile #log_out{
    right: 10px;
    width: 50px;

}




.home_content{
    position: relative;
    background-color: var(--color-body);
    min-height: 100vh;
    top: 0;
    left: 90px;
    width: calc(100% - 90px);
    transition: all .5s ease;
    z-index: w;
}

.home_content .text{
    display: inline-block;
    color: var(--color-default);
    font-size: 25px;
    font-weight:500 ;
    margin: 10px;

}

.sidebar.open ~ .home_content{
    left: 250px;
    width: calc(100% - 250px);
}


